@import "reset";

$red-color: #ff385c;
$white-color: #fff;
$black-color: #000;
$dark-text-color: rgb(34, 34, 34);
$white-text-color: rgb(255, 255, 255);
$footer-text-color: #222222;

body {
  font-family: "Roboto", sans-serif;
}
