@import "base/reset";
@import "abstracts/variables";
@import "components/button";
@import "components/dropdown";
@import "components/form";
@import "layout/header.scss";
@import "layout/title_section";

.header{
    position: fixed;
    width: 100%;
    padding: 48px;
    background-color: black;
    z-index: 1;
}
html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}