@mixin buttons-style {
  display: flex;
  border: $BTN-BORDER-COLOR 1px solid;
  background-color: transparent;
  border-radius: 24px;
  align-items: center;
  justify-content: space-between;
}
@mixin font-line($prop1, $prop2) {
  font-size: $prop1;
  line-height: $prop2;
}

@mixin container-width-lg {
  padding: 0 80px;
}

@mixin container-width-md {
  padding: 0 40px;
}

@mixin container-width-sm {
  padding: 0 24px;
}
