@import "../abstracts/variables";

.adventures__section {
  background-color: $BACKGROUND_COLOR;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding: 32px 0;
}

.adventures__container {
  padding: 0 24px;
  max-width: 1600px;
}

.adventures__title-wrap {
  padding-bottom: 8px;
}

.adventures__title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}

.adventures__description {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0;
}

.adventures__cards {
  display: grid;
  gap: 0 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 8px 0;
  overflow: hidden;
}

.adventures__card {
  grid-column: span 1;
}

.adventures__card-link {
  text-decoration: none;
  color: #fff;
}

.adventures__card-img {
  width: 100%;
  height: auto;
  border-width: 0 5px;
  border-radius: 1%;
}

.adventures__card-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  padding-top: 8px;
}

.adventures__card-description {
  margin-top: 4px;
  font-size: 10px;
  line-height: 14px;
}

@media screen and (min-width: 744px) {

  .adventures__container {
    padding: 0 40px;
  }

  .adventures__title {
    font-size: 26px;
    line-height: 30px;
  }

  .adventures__section {
    padding: 40px 0;
  }

  .adventures__description {
    font-size: 14px;
    font-weight: 500;
  }

  

  .adventures__card-title {
    font-size: 18px;
    line-height: 22px;
  }

  .adventures__card-description {
    margin-top: 4px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1128px) {
  .adventures__container {
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1760px;
  }

  .adventures__title {
    font-size: 32px;
    line-height: 36px;
  }

  .adventures__description {
    font-size: 14px;
    font-weight: 500;
  }
  .adventures__card-title {
    font-size: 18px;
    line-height: 22px;
  }

  .adventures__card-description {
    margin-top: 4px;
    font-size: 14px;
    line-height: 18px;
  }
}
