@import "../abstracts/variables";
@import "../mixins/mixins";

.adventures__section {
  background-color: $BACKGROUND-COLOR;
  color: $OFFERS-TRAVEL-LINKS-COLOR;
  font-family: "Roboto", sans-serif;
  padding: 32px 0;
}

.adventures__container {
  padding: 0 24px;
  max-width: 1600px;
}

.adventures__title-wrap {
  padding-bottom: 8px;
}

.adventures__title {
  @include font-line(22px, 22px);
  font-weight: 700;
}

.adventures__description {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0;
}

.adventures__cards {
  display: grid;
  gap: 0 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 8px 0;
  overflow: hidden;
}

.adventures__card {
  grid-column: span 1;
}

.adventures__card-link {
  text-decoration: none;
  color: $OFFERS-TRAVEL-LINKS-COLOR;
}

.adventures__card-img {
  width: 100%;
  height: auto;
  border-width: 0 5px;
  border-radius: 1%;
}

.adventures__card-title {
  @include font-line(14px, 18px);
  font-weight: 500;
  padding-top: 8px;
}

.adventures__card-description {
  margin-top: 4px;
  @include font-line(10px, 14px);
}
