.header {
  background-color: $FORM_BACKGROUND_COLOR;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: $BTN_TITLE_COLOR;
  font-family: Roboto;
  z-index: 1;
}
.header-nav {
  height: inherit;
}
.header-log__image {
  color: $BTN_SEARCH_BG_COLOR;
}
.header-container {
  margin: 18px 0;
  height: inherit;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-search {
  color: $FORM_TOP_LINKS_COLOR;
}
.header-seacrh__button-image {
  background-color: $BTN_SEARCH_BG_COLOR;
}

.header-seacrh__button-text {
  margin:7px 0;
  width: 100%;
  border: 0;
  
}
.header-seacrh__button-text::placeholder{
  font-family: Roboto;
  color: $FORM_TOP_LINKS_COLOR;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.header-search-label{
  width: 100%;
  display: flex;
}

.header-seacrh__button-image svg {
  color: $FORM_BACKGROUND_COLOR;
}
.header-loggin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-loggin__text {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  white-space: nowrap;
}

.header-seacrh__button-text {
  padding: 0 16px;
}
.header-seacrh__button-image {
  padding: 10px;
  border-radius: 24px;
  margin: 7px 7px 7px 0;
}
.header-loggin_homeCreatorButton {
  background-color: transparent;
  border-radius: 24px;
  padding: 12px;
  text-align: center;
}
.header-loggin_homeCreatorButton a {
  color: $FORM_TOP_LINKS_COLOR;
  text-decoration: none;
}
.header-loggin_homeCreatorButton:hover,
.header-loggin__wrorld-container:hover {
  background-color: $HEADER_BTN_HOVER;
}
.header-loggin__wrorld-container {
  padding: 12px;
  border-radius: 22px;
}

@media (max-width: 880px) {
  .header-loggin {
    display: none;
  }
  .header-container {
    justify-content: center;
  }
  .header-logo {
    margin-right: 10px;
  }
}

@media (max-width: 592px) {
  .header-logo {
    display: none;
  }
}

@media (max-width: 400px) {
  .header-container {
    padding-left: 44px;
    padding-right: 44px;
  }
  .header-loggin__item {
    padding: 4px;
    margin-left: 4px;
  }
}
