@import "../abstracts/variables";
@import "../mixins/mixins";

.organize__section {
  background-color: #fff;
  color: #222;
  font-family: "Roboto", sans-serif;
  padding: 32px 0;
}

.organize__container {
  padding: 0 24px;
  max-width: 1600px;
}

.organize__title {
  @include fontLine(22px,22px);
  font-weight: 700;
  padding-bottom: 16px;
}

.organize__cards {
  display: grid;
  gap: 0 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 8px 0;
  overflow: hidden;
}

.organize__card {
  grid-column: span 1;
}

.organize__card-link {
  text-decoration: none;
  color: #222;
}

.organize__card-img {
  width: 100%;
  height: auto;
  border-width: 0 5px;
  border-radius: 1%;
}

.organize__card-title {
  @include fontLine(14px,18px);
  font-weight: 500;
  padding-top: 8px;
}


