@import "../mixins/mixins";

.places__section {
  box-sizing: border-box;
  font-family: Roboto;
}
.palces-wrapper {
  margin: 0 auto;
  @include container-width-sm;
  padding-top: 60px;
  padding-bottom: 60px;
}
.towns__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 90px;
}
.town_card img {
  border-radius: 8px;
  max-width: 64px;
  height: auto;
}
.town_card__container {
  display: flex;
}
.town_card__main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.town_card__main-text h3 {
  padding-bottom: 4px;
}
.town_card__link {
  text-decoration: none;
  color: $CITY-LINKS-COLOR;
}
.town_card__main-text h3 {
  font-weight: 600;
}

.places_houses {
  position: relative;
}

.places_houses_select {
  display: grid;
  grid-gap: 0 15px;
  grid-template-columns: repeat(4, calc(80% - 20px * 2));
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * 20px);
  margin: 8px 0;
}

.places_houses_select::-webkit-scrollbar {
  display: none;
}

.places_houses h2 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.places_house_link {
  text-decoration: none;
  color: $CITY-LINKS-COLOR;
  font-weight: 500;
  font-size: 18px;
}
.places_house_link p {
  margin-top: 10px;
}
.places_house_img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

// .places_house__card:last-child {
//   display: none;
// }

.places_house__card {
  grid-column: span 1;
  scroll-snap-align: center;
}

.places_house__card-btn {
  position: absolute;
  top: 50%;
  right: -2%;
  border-radius: 50%;
  border: none;
  width: 32px;
  height: 32px;
}
