.title__section{
    position: relative;
    color: $FORM_BACKGROUND_COLOR;
    width: 100%;
    font-family: Roboto;
    /*background: url('https://a0.muscache.com/im/pictures/cf39f4c4-e860-43d4-85be-deddd7b2da90.jpg?im_w=1440') no-repeat;
    */
    background-size: cover;
}
.title-section__container-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
.title-section__container-image img{
    width: 100%;
}
.title-section__main-content{
    position: absolute;
    bottom: 240px;
    display: flex;
    flex-direction: column;
    padding-right: 88px;
    padding-left: 88px;
}
.title-section__header{
    font-size: 56px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.title-section__link{
    width: auto;
    color: $BTN_TITLE_COLOR;
    background-color: $BTN_BACKGROUND_COLOR;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500 ;
    border-radius: 8px;
    border-width: 1px ;
    border-style: solid 0;
    outline: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}
.title-section__link:hover{
    background-color: $BRN_TITLE_HOVER_COLOR;
}

@media (max-width:1000px){
    .title-section__main-content{
        bottom:100px;
    }
}
@media (max-width:632px){
    .title-section__main-content{
        bottom:80px;
        
    }
    .title-section__header{
        font-size: 20px;
    }
    .title-section__link{
        font-size: 10px;
    }
}
@media (max-width:532px){
    .title-section__main-content{
        padding-right: 44px;
        padding-left: 44px;
        bottom: 40px;
    }
    .title-section__header{
        font-size: 15px;
        margin-bottom: 15px;
    }
}
@media (max-width:376px){
    .title-section__header{
        font-size: 10px;
        margin-bottom: 15px;
    }
    .title-section__main-content{
        padding-right: 22px;
        padding-left: 22px;
        bottom: 20px;
    }
}