// BODY
$BACKGROUND-COLOR: #fff;
$FONT_SIZE: 14px;

//HEADER COLORS
$HEADER_LINKS_COLOR: #ffffff;
$FORM-BACKGROUND-COLOR: #ffffff;
$FORM-TOP-LINKS-COLOR: #222222;
$FORM_BOTTOM_LINKS_COLOR: #717171;
$BTN-TITLE-COLOR: #222222;
$HEADER-BTN-HOVER: #00000008;
$BTN-BORDER-COLOR: rgba(175, 164, 164, 0.596);
$BTN-BACKGROUND-COLOR: #ffffff;
$BTN-SEARCH-BG-COLOR: #ff385c;
$BTN-TITLE-HOVER-COLOR: #ebebeb;

// SECTION CITY__LINKS

$CITY-LINKS-COLOR: #222222;
$CITY_TITLE_COLOR: #222222;

// SECTION OFFERS_TRAVEL

$OFFERS-TRAVEL-LINKS-COLOR: #ffffff;
$BACKGROUND_COLOR: #000000;

// OFFERS_HOST

$OFFERS_HOST_LINK_COLOR: #222222;

// FOOTER
$FOOTER-BACKGROUND-COLOR:#F7F7F7;
$FOOTER-LINKS-COLOR: #222222;
$FOOTER-BACKGROUND-COLOR_HOVER: #484848;
$FOOTER-BACKGROUND-BORDER:#DDDDDD;

$--hc-sm-height: 488;
$--hc-sm-width: 375;
$--hc-md-height: 588;
$--hc-md-width: 744;
$--hc-lg-height: 563;
$--hc-lg-width: 1128;
