// BODY
$BACKGROUND_COLOR: #fff;
$FONT_SIZE: 14px;

//HEADER COLORS
$HEADER_LINKS_COLOR: #ffffff;
$FORM_BACKGROUND_COLOR: #ffffff;
$FORM_TOP_LINKS_COLOR: #222222;
$FORM_BOTTOM_LINKS_COLOR: #717171;
$BTN_TITLE_COLOR: #222222;
$HEADER_BTN_HOVER :#00000008;
$BTN_BORDER_COLOR: rgba(175, 164, 164, 0.596);
$BTN_BACKGROUND_COLOR: #ffffff;
$BTN_SEARCH_BG_COLOR: #ff385c;

// SECTION CITY__LINKS

$CITY_LINKS_COLOR: #222222;
$CITY_TITLE_COLOR: #222222;

// SECTION OFFERS_TRAVEL

$OFFERS_TRAVEL_LINKS_COLOR: #ffffff;
$BACKGROUND_COLOR: #000000;

// OFFERS_HOST

$OFFERS_HOST_LINK_COLOR: #222222;

// FOOTER

$FOOTER_LINKS_COLOR: #222222;
$FOOTER_BACKGROUND_COLOR: #484848;
